:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  background-position: top center;
  background-color: var(--Pale-blue);

  display: grid;
  place-items: center;
  gap: 1.875rem;
  font-size: 1rem;

  height: 100vh;
}
.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1.25rem 1.875rem -0.5rem rgba(167, 168, 207, 0.43);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto 0 auto;
  width: 26.25rem;
}
.card-title {
  color: var(--Dark-blue);
  font-weight: 900;
  font-size: 2rem;
  margin-top: 1.875rem;
  font-size: 2.5rem;
}

.card-header img {
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
}

.card-description {
  color: var(--Desaturated-blue);
  font-size: 1.15rem;
  font-weight: 500;
  width: 83%;
  text-align: center;
  margin-top: 1.25rem;
  line-height: 1.5rem;
}
.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Very-pale-blue);
  margin: 1.875rem;
  border-radius: 1rem;
  padding: 1rem;
}
.plan-description {
  margin-right: 5.625rem;
  line-height: 1.5rem;
}
.plan {
  background-color: var(--Very-pale-blue);
}

.plan-type {
  color: var(--Dark-blue);
  font-weight: 700;
  width: max-content;
  margin-left: 0.625rem;
}
.plan-cost {
  color: var(--Desaturated-blue);
  margin-left: 0.625rem;
}
.link-change {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  text-decoration: underline;
  background-color: inherit;
  color: var(--Bright-blue);
}
.link-change:hover {
  text-decoration: none;
  color: mediumpurple;
  cursor: pointer;
}
.buttons {
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.payment {
  background-color: var(--Bright-blue);
  margin: 0 2.1875rem;
  border-radius: 0.75rem;
  box-shadow: 0 1.25rem 1.875rem -0.5rem rgba(197, 198, 245);
  padding: 0.9375rem;
  color: #fff;
  font-weight: 700;
  border: none;
}
.payment:hover {
  background-color: mediumpurple;
  cursor: pointer;
}
.cancellation {
  align-self: center;
  color: var(--Desaturated-blue);
  border: none;
  margin: 1.25rem;
  padding: 0.9375rem;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.75rem;
  text-decoration: none;
}
.cancellation:hover {
  color: black;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 48rem) {
  .card {
    width: 23.125rem;
  }
  .card-title {
    font-size: 1.75rem;
  }
  .card-description {
    width: 85%;
  }
  .plan {
    width: 85%;
  }
  .plan-type {
    font-size: 0.9375rem;
    margin-left: 0.625rem;
  }
  .plan-cost {
    margin-left: 0.625rem;
  }
  .link-change {
    margin-left: -1.875rem;
  }
}
